<!DOCTYPE html>
<html>
    <head>
        <!--link rel="stylesheet" href="websiteTabs.css" type="text/css"></link-->
        <title>Recent Played Songs</title>
    </head>
    <style>
        body{
            background-color: rgb(0, 54, 50);
        }
    </style>
    <body>
        <center>
            <font color="black" size="4" style="font-family: avenir">
            <h1 style="color: rgb(1, 92, 57)">Spoti Tours Registration</h1>
            
            <form action="/register" autocomplete="on" method="GET" enctype="multipart/form-data">
                <button type="submit" style="background: rgb(9, 54, 105); height: 45px; width: 200px; color: white; size: 5; font:oblique;">REGISTER</button>
            </form>
            
            <form action="/login" autocomplete="on" method="GET" enctype="multipart/form-data">
                <button type="submit" style="background: rgb(9, 54, 105); height: 45px; width: 200px; color: white; size: 5; font:oblique;">LOG IN</button>
            </form>
    
                <a href="/about">About Us</a>
        
            </font>
        </center>
    </body>
</html>