<!DOCTYPE html>
<html>
    <head>
        <!--link rel="stylesheet" href="websiteTabs.css" type="text/css"></link-->
        <title>Recent Played Songs</title>
    </head>
    <style>
        body{
            background-color: rgb(0, 54, 50);
        }
    </style>
    <body>
        <center>
            <font color="black" size="4" style="font-family: avenir">
            <h1 style="color: rgb(1, 92, 57)">Spoti Tours Registration</h1>

            <form action="/register" autocomplete="on" method="POST" enctype="multipart/form-data">
                First Name:<br> <input style="height:25px;font-size:14pt;color:rgb(13, 107, 71);" type="text" name="first_name"><br><br>
                Last Name:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="last_name"><br><br>
                Email:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="email"><br><br>
                Username:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="username"><br><br>
                Password:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="password"><br><br>

                <button type="submit" style="background: rgb(9, 54, 105); height: 45px; width: 200px; color: white; size: 5; font:oblique;">REGISTER</button>

            </form>
    
                <a href="/about">About Us</a>
        
            </font>
        </center>
    </body>
</html>